# Enter your Reddit app credentials and username here
# You should find this information on https://www.reddit.com/prefs/apps

client_id: "MY_REDDIT_APP_CLIENT_ID"
client_secret: "MY_REDDIT_APP_CLIENT_SECRET"
username: "MY_REDDIT_USERNAME"
